<h1>Demographische Daten</h1>

<%= form_for @participant, url: {action: "create"}, :html => {class: "form-inline"} do |f| %>

    <h4>1. Allgemeine Informationen</h4>
    <div class="form-group">
        <%= f.label "Altersgruppe:" %>
        <%= f.select(:age, Participant.ages.keys, {}, class: "form-control") %>
    </div>

    <br>
    <div class="form-group sibbling">
        <span>Geschlecht: </span>
        <%= f.label :gender_male, class: "radio-inline" do %>
            <%= f.radio_button :gender, "male" %>Männlich
        <% end %>
        <%= f.label :gender_female, class: "radio-inline" do %>
            <%= f.radio_button :gender, "female" %>Weiblich
        <% end %>
    </div>

    <br>
    <h4>2. Wie oft bist Du im Web unterwegs?</h4>

    <div class="form-group">
        <% Participant.web_usages.each do |web_usage| %>
            <%= f.label "web_usage_" + web_usage[0].gsub(/ /, "_"), web_usage[0].to_sym, class: "radio-inline" do %>
            <%= f.radio_button :web_usage, web_usage[0] %> <%= web_usage[0] %>
            <% end %>
        <% end %>
    </div>

    <br>
    <h4>3. Tätigkeitsfeld</h4>

    <div class="form-group">
        <%= f.fields_for :profession, @participant.profession do |profession_f| %>
            <%= profession_f.collection_select(
                    :job_id, Job.all, :id, :name, {prompt: false}, class: "job form-control") %>
            <br>
            <%= text_field :profession, :additional_other, class: "additional additional-other form-control" %>
            <%= select :profession, :additional_student, ["MCI", "Informatik", "SSE", "Medieninformatik", "Sonstiges"], {},
                       class: "additional additional-student form-control" %>
            <%= select :profession, :additional_employee, ["Tätigkeitsbereiche...", "Noch einer..jippie"], {},
                       class: "additional additional-employee form-control" %>

            <%= profession_f.hidden_field :additional, class: "additional-hidden" %>
        <% end %>
    </div>
    <br>
    <br>
    <%= f.submit "weiter", class: "btn betn-default" %>


<% end %>