<h1>
  Fragebogen
  <%= render "layouts/wizard" %>
</h1>
<div class="alert alert-info" role="alert">
  <i class="fa fa-pencil"></i>
  <span>Bitte gib mit Hilfe der folgenden Wortpaare deinen Eindruck zu der gerade benutzten Navigation wieder.</span>
</div>

<%= form_for "answers", url: answered_case_path, html: {class: "attr-form"} do |f| %>
    <% @questionary.questions.each_with_index do |question, index| %>
    <div class="row attrakdiff-row">
      <% labels = question.label.split("|")
         answer = question.answers.build(type: "comparison")
      %>
      <div class="col-md-4 text-right">
        <label><%= labels[0] %></label>
      </div>
      <div class="col-md-4">
        <%= f.fields_for index.to_s+"[]", answer do |af| %>
            <%= af.hidden_field :question_id, value: question.id %>
            <% (0..6).each do |i| %>
              <%= af.radio_button "value", i %>
            <% end %>
        <% end %>
      </div>
      <div class="col-md-4">
        <label><%= labels[1] %></label>
      </div>
    </div>
    <% end %>
    <%= submit_tag "Zum nächsten Testfall", class:"btn btn-default" %>
<% end %>

