<h1>
  Fragebogen
  <%= render "layouts/wizard" %>
</h1>


<div class="alert alert-info" role="alert">
  <i class="fa fa-pencil"></i>
  <span>Bitte gib mit Hilfe der folgenden Wortpaare deinen Eindruck zu der gerade benutzten Navigation wieder.</span>
</div>

<% unless flash[:error].blank? %>
<div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
<% end %>

<%= form_for "answers", url: answered_case_path, html: {class: "attr-form"} do |f| %>
    <% @questionary.questions.each_with_index do |question, index| %>
    <div class="row attrakdiff-row">
      <div class="col-md-12">
        <div class="attrakdiff-border">
          <div class="row">
            <% if question.kind == "comparison" %>
              <%= render partial: "cases/questionaries/attrak_comparison", locals: {question: question, index: index, f: f} %>
            <% else %>
              <%= render partial: "cases/questionaries/attrak_text", locals: {question: question, index: index, f: f} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <% if is_last_step %>
      <%= submit_tag "Studie abschließen", class:"btn btn-default" %>
    <% else %>
      <%= submit_tag "Zum nächsten Testfall", class:"btn btn-default" %>
    <% end %>
<% end %>

