<h1>
  Fragebogen
  <%= render "layouts/wizard" %>
</h1>
<div class="alert alert-info" role="alert">
	<i class="fa fa-pencil"></i>
	<span>Abschließend noch eine letzte Frage an Dich.</span>
</div>

<% unless flash[:error].blank? %>
    <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
<% end %>

<%= form_for "answers", url: answered_case_path do |f| %>
<% @questionary.questions.each do |question| %>
<div class="row conclusion">
	<div class="col-md-12">
    <h4><%= question.label %></h4>
	</div>
	<div class="col-md-12">
    <div class="row">
	  <%
	    answer = question.answers.build
	  %>
	  <%= f.fields_for "[]", answer do |af| %>
	    <%= af.hidden_field :question_id, value: question.id %>

      <% cases = Case.all
         cases_order = JSON.parse(@current_participant.cases_order)
      %>
      <% cases_order.each_with_index do |order, index| %>
      <% c = cases[order - 1] %>
        <div class="col-md-4">
          <%= af.label "value_" + c.id.to_s, c.name, class: "radio-inline" do %>
              <%= af.radio_button :value, c.id.to_s %> Navigation <%= index + 1 %>
              <br><br>
              <%= image_tag "case-" + c.id.to_s + ".jpg" %>
          <% end %>
        </div>
      <% end %>
	  <% end %>
    </div>
	</div>
</div>
<% end %>
<%= submit_tag t(:complete_study), class:"btn btn-default" %>
<% end %>
