<h1>
  Fragebogen
  <%= render "layouts/wizard" %>
</h1>
<div class="alert alert-info" role="alert">
	<i class="fa fa-pencil"></i>
	<span>Schiebe den Regler an den Punkt, der deine Erfahrung in Hinblick auf die Aufgabe am besten verdeutlicht.</span>
</div>


	
<%= form_for "answers", url: answered_case_path do |f| %>
<% @questionary.questions.each do |question| %>
<div class="row nasa">
	<div class="col-md-6 nasa-question">
  		<h4><%= question.label %></h4>
		<p><%= question.description %></p>
	</div>
	<div class="col-md-6 regulator">
	  <%
	    answer = question.answers.build
	  %>
	  <%= f.fields_for "[]", answer do |af| %>
	    <%= af.hidden_field :question_id, value: question.id %>
	    <span><%= question.label == "Leistung" ? "Gut" : "Gering" %></span><%= af.range_field "value", min: 0, max: 100, step: 5 %>
	    <span><%= question.label == "Leistung" ? "Schlecht" : "Hoch" %></span>
	  <% end %>
	</div>
</div>
<% end %>
<%= submit_tag "Weiter", class:"btn btn-default" %>
<% end %>
