<!DOCTYPE html>
<html>
  <head>
    <title>Studydb</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <%= image_tag("uhh-logo.gif") %>
          <% unless controller_name == "content" and action_name == "intro" %>
            <p class="title">Navigation im Web</p>
          <% end %>
          <%= image_tag("hci-logo.png", class:"hci-logo") %>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <p class="error flash"><%= flash[:error] %></p>
        <%= render "layouts/wizard" unless action_name == "test" %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
