<!DOCTYPE html>
<html>
  <head>
    <title>Studydb</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application' %>

    <%= render "layouts/analytics" %>

    <% if action_name == "test" %>
    <script type="text/javascript" charset="utf-8">
      window.currentCaseSheet = <%= @sheet_number %>;
    </script>
    <% end %>

    <% if @debug_mode %>
    <script type="text/javascript" charset="utf-8">
      window.debug = true;
    </script>
    <% end %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag("uhh-logo.gif") %>
            <% unless controller_name == "content" and action_name == "intro" %>
              <p class="title">Navigation im Web</p>
            <% end %>
            <%= image_tag("hci-logo.png", class:"hci-logo") %>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <noscript>
          <div class="col-md-12">
            <br>
            <div class="alert alert-warning" role="alert">
              <%= t(:enable_javascript).html_safe %>
            </div>
          </div>
        </noscript>
        <div class="col-md-12 show-with-javascript">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="width-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><%= t(:optimized_width) %></h4>
          </div>
          <div class="modal-body">
            <%= t(:min_width).html_safe %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
